*{
    box-sizing: border-box;
}
body{
    background-color: 6193ee;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 3rem;
}
.add{
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: turquoise;
    border: none;
    color: white;
    padding: 0.5rem 2rem;
    cursor: pointer;
    border-radius: 5px0;
}
.add:focus{
    outline: none;
}
.add:active{
    transform: scale(0.9);
}
.note{
    background-color: white;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 30px 20px;
    width: 400px;
    height: 400px;
}
.note .controls{
    background-color: turquoise;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}
.note.controls button{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}
.note.controls button:focus{
    outline: none;
}
.note.controls button:active{
    transform: scale(1.2);
}
.note textarea{
    outline: none;
    font-family: inherit;
    border: none;
    font-size: 1.2rem;
    height: 400px;
    width: 100%;
    padding: 200px
}